.note {
  border: 1px solid #888;
  border-radius: 4px;
  flex-grow: 1;
  margin: 4px;
  min-width: 200px;
  padding: 8px;
}

.title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 4px;
}
